1.Java/TravelAgency/.idea/*
1.Java/TravelAgency/target/*

2.UnitTest/UnitTestingProject/.idea/*
2.UnitTest/UnitTestingProject/target/*
2.UnitTest/UnitTestingProject/test-output/*

3.WebDriver/WebDriverTask/.idea/*
3.WebDriver/WebDriverTask/target/*
3.WebDriver/WebDriverTask/test-output/*

4.AutomationFramework/AFJbehave/.idea/*
4.AutomationFramework/AFJbehave/target/*

7.TAFramework4WebServices/testing-framework/core/build/*
7.TAFramework4WebServices/testing-framework/.idea/*
7.TAFramework4WebServices/testing-framework/.gradle/*
7.TAFramework4WebServices/testing-framework/build/*
7.TAFramework4WebServices/testing-framework/out/*
7.TAFramework4WebServices/testing-framework/example-test-cases/build/*
7.TAFramework4WebServices/testing-framework/example-test-cases/out/*
7.TAFramework4WebServices/testing-framework/weather-test-module/build/*
7.TAFramework4WebServices/testing-framework/weather-test-module/out/*


